PORT=9000

DEV_ORIGIN="http://localhost:8080"

PROD_ORIGIN="https://suaradesamu-web.vercel.app/"
NGROK_ORIGIN="https://dory-liberal-uniformly.ngrok-free.app"
# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:aksa@localhost:3306/suaradesamu"
BC_NETWORK="http://127.0.0.1:7545"
CONTRACT_OWNER=0x1114C65b843d9FA9d220aB84477617Ac14B97b4b
CONTRACT_OWNER_PKEY=0xbf767cd3e961aad1584706156bb140086ad328bbafaf29e0abdd85b1da62fc26